*{
  margin: 0;
  padding: 0;
}
body{
  padding: 20px;
  background: #2d3436
}
.container{
  width: 300px;
  height: 400px;
  background: #00b894;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
}
.main{
  width: 250px;
  height: 350px;
  background: transparent;
  position: relative;
  left: 25px;
  top: 25px;
}
.button{
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
}
.textview{
  width: 212px;
  height: 45px;
  font-size: 20px;
  margin: 10px;
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
}